Jenkinsfile
CHANGELOG.md
README.md
run-java.sh

.idea/
.settings/
.classpath
.project
.vscode/
.tmp/

spark-warehouse/
target/
Data/
logs/
lib/
*.jar
src/test/resources
settings.yaml
*.iml

docker-compose.yml
deploy/